@charset "UTF-8";

/* 전체 스타일 초기화 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* 네비게이션 스타일 */
  .maun_wrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #C5E0B4;
  }
  
  .maun_wrap .logo {
    width: 200px;
    margin-top: 10px;
    margin-left: 50px;
    float: left;
  }
  
  .maun_wrap .dep1 {
    
    font-size: 0;
    text-align: center;
    margin-left: -120px;
    justify-content: flex-start;
    margin-right: 300px;
  }
  
  .maun_wrap .dep1 > li {
    display: inline-block;
    position: relative;
    width: 150px;
    vertical-align: top;
    background: #C5E0B4;
    text-align: center;
    font-size: 16px;
  }
  
  .maun_wrap .dep1 > li:hover > a {
    background: green;
    color: black;
  }
  
  
  .maun_wrap .dep1 > li > a {
    display: block;
    font-size: 25px;
    color: black;
    padding: 30px 0;
    text-decoration: none; /* 밑줄 제거 */
  }
  
  .maun_wrap .dep1 > li > .dep2 {
    display: none;
    position: absolute; /* 자식(.dep2) 요소를 absolute로 설정 */
    top: 100%; /* 부모(.dep1 > li)의 하단으로 배치 */
    left: 0; /* 왼쪽에 맞추어 표시 */
    background: #C5E0B4;
    z-index: 1; /* .dep2 요소가 .dep1 요소 위에 오도록 설정 */
}
  
  .maun_wrap .dep1 > li:hover > .dep2 {
    display: block; 
  }
  
  .maun_wrap .dep2 {
    display: none;
    width: 150px;
   
  }
  
  .maun_wrap .dep2 a {
    display: block;
    font-size: 15px;
    color: black;
    padding: 30px 0;
    text-decoration: none; /* 밑줄 제거 */
  }
  
  .maun_wrap .dep2 a:hover {
    background: green;
    
  }
  
  /* 메인 스타일 */
  

  .main {
    flex: 1;
    height: 840px;
    width: 1250px;
    margin: auto;
    background-color: #e6f4d7;
    /*B1C9A2*/
    padding-top: 80px;
  }
  
  .btn_group {
    position: absolute;
    top: 300px;
    right: 380px;
    text-align: right;
  }
  
  .btn_group > button {
    background-color: #92D050;
    border: 1px solid green;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 150px;
    border-radius: 12px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition-duration: 0.4s;
  }
  
  .btn_group > button:hover {
    background-color: #3e8e41;
  }
  
  /* map 지도 스타일 */
 .map iframe{
  position: absolute;
  top: 438px;
  left: 350px;
  width: 400px;
  height: 400px;
  text-align: center;
  border-radius: 12px;
 }

 .main > p {
  position: absolute;
  top: 398px;
  left: 350px;
  font-size: 30px;
  font-weight: bold;
 }
 
 /* 날씨 */
 	.weather{
          position: relative;
		  top: 0px; /* 원래 위치로부터 20px 아래로 이동 */
		  left: 790px; /* 원래 위치로부터 50px 오른쪽으로 이동 */
		  padding: 40px;
		  width: 500px;
		  color: black;
        }
     
     .weather_box{
     	padding : 40px;
     	height : 170px;
     	width: 370px;
     	border: 2px solid;
     	border-radius: 10px;
     }
	
  /* 바닥부 스타일 */
  .footer_wrap {
    background-color: #C5E0B4;
   
    padding: 30px;
    color: black;
    text-align: center;
    
    
  }
  
  .footer_content {
    display: flex;
    align-items: center;
    justify-content: left;
  }
  
  .footer_logo img {
    width: 150px;
  }
  
  .footer_text {
    margin-left: 10px;
  }
  
  .footer_text > p {
    text-align: left;
  }